[Unit]
Description=Vortex Manta Manipulator Startup

[Service]
ExecStart=/usr/bin/start-manipulator-script.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
