
[Unit]
Description=Camera NanoPi Helga startup

[Service]
ExecStart=/usr/bin/start-camera-front.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
